<nav>
	<a href="/index.php"><img src="/img/logo.png" style="max-width:100%; height: auto;"/></a>
  <ul>
	<li><a href="/about.php">About</a></li>
	<li><a href="/blog">Blog</a></li>
	<li><a href="/cccourse">Conquering Complexity with Anki</a></li>
  </ul>
</nav>