html {
	background-color: #eeeeee;
	
	/*center page*/
	margin-left:auto;
	margin-right:auto;
	
	max-width: 900px;
	min-width: 400px; /*ugly, but at least mobile is somewhat readable now*/
	
	border-left: 2px solid blue;
	border-right: 2px solid green;
	
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	line-height: 1.5;
}

body {
	display: flex;
}

nav {
	flex: 1;
	float: left;
	width: 200px;
	left: 0;
	
	/*border to content*/
	margin-right: 20px;
	padding-right: 10px;
	border-right: 1px solid #e0e0e0;
}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 5px;
}

nav li {
	width: 190px;
	padding: 5px;
}

nav li a {
	display: block;
}